.stage

	&-cont
		margin: 120px 0 70px

	.title
		margin-bottom: 80px

	&__interactive
		display: flex

	&__img
		flex: none

	&__info
		background: #F0F0F0
		border-radius: 3px
		margin-left: 55px
		padding: 50px

		&-title
			font-size: em(24)
			font-weight: 500
			color: var(--main-color)
			margin-bottom: 30px