:root
	--default-font: "Montserat", Arial, sans-serif

	--base-width: 1300px

	--body-bg-color: #fff
	--body-text-color: #000

	--base-font-size: 14px

	--main-color: #FFD600

	--second-color: #B31E1E
	--thrid-color: #F6F8FB
	
	--border-color: #EBEDF1

	--text-color: #A8A8A8

	--input-hor-spacing: 49px
	--input-vert-spacing: 25px

	--input-padding: 17px 20px
	--select-padding: 17px 30px 17px 20px