:root
	--default-font: "Play", Arial, sans-serif

	--base-width: 1300px

	--body-bg-color: #fff
	--body-text-color: #000

	--base-font-size: 16px

	--main-color: #193153

	--second-color: #AA1217
	--thrid-color: #355FB6
	--background-color: #F0F0F0
	
	--border-color: #E5E5E5

	--text-color: #A8A8A8

	--input-hor-spacing: 49px
	--input-vert-spacing: 25px

	--input-padding: 17px 20px
	--select-padding: 17px 30px 17px 20px