.base-form

	&__title
		font-size: em(24)
		line-height: 1
		font-weight: bold
		margin: 0 0 65px

@media (max-width: 660px)
	.base-form

		&__title
			font-size: 18px
			line-height: 24px
			margin: 0 0 15px