.rating
	display: flex
	align-items: center

	span
		margin-right: 10px
		font-weight: 500

	&__list
		display: flex
		flex-direction: row-reverse

	&__info
		color: #A5AEB9
		margin-top: 5px

	&__radio
		opacity: 0
		size: 0

		&:checked
			~ label
				svg
					path
						fill: #FFC85E
						stroke: #FFC85E



	&__label
		cursor: pointer
		display: flex
		margin-left: 3px

	svg
		path
			fill: #E3E3E3


		


