.rating
	display: flex
	align-items: center

	span
		margin-right: 10px
		font-weight: 500

	&__list
		display: flex
		flex-direction: row-reverse
		position: relative

	&__info
		color: #A5AEB9
		margin-top: 5px

	&__radio
		opacity: 0
		size: 0
		position: absolute
		appearance: none

		&:checked
			~ label
				svg
					path
						fill: #FFC85E
						stroke: #FFC85E



	&__label
		cursor: pointer
		display: flex
		margin-left: 3px



		


