.default-slider-cont
	.wrapper
		.default-slider
			.default-slider__title Вас также может заинтересовать
			.default-slider__list
				.swiper-button.swiper-button-prev
				.swiper-button.swiper-button-next
				.swiper-list
					.swiper-wrapper
						.swiper-slide
							.item-cont
								.item
									a(href="#").item__img
										figure
											img(src="img/photos/def-1.jpg")
									a(href="#").item__info
										.item__title Автобетоносмеситель 58140Z на шасси Камаз 65201-23010-73
									
									.item__status.status-1 Доступно к заказу
									.item__status.status-2 Цену уточняйте у менеджера
						.swiper-slide
							.item-cont
								.item
									a(href="#").item__img
										figure
											img(src="img/photos/def-1.jpg")
									a(href="#").item__info
										.item__title Автобетоносмеситель 58140Z на шасси Камаз 65201-23010-73
									
									.item__status.status-1 Доступно к заказу
									.item__status.status-2 Цену уточняйте у менеджера
						.swiper-slide
							.item-cont
								.item
									a(href="#").item__img
										figure
											img(src="img/photos/def-1.jpg")
									a(href="#").item__info
										.item__title Автобетоносмеситель 58140Z на шасси Камаз 65201-23010-73
									
									.item__status.status-1 Доступно к заказу
									.item__status.status-2 Цену уточняйте у менеджера
						.swiper-slide
							.item-cont
								.item
									a(href="#").item__img
										figure
											img(src="img/photos/def-1.jpg")
									a(href="#").item__info
										.item__title Автобетоносмеситель 58140Z на шасси Камаз 65201-23010-73
									
									.item__status.status-1 Доступно к заказу
									.item__status.status-2 Цену уточняйте у менеджера
						.swiper-slide
							.item-cont
								.item
									a(href="#").item__img
										figure
											img(src="img/photos/def-1.jpg")
									a(href="#").item__info
										.item__title Автобетоносмеситель 58140Z на шасси Камаз 65201-23010-73
									
									.item__status.status-1 Доступно к заказу
									.item__status.status-2 Цену уточняйте у менеджера
						.swiper-slide
							.item-cont
								.item
									a(href="#").item__img
										figure
											img(src="img/photos/def-1.jpg")
									a(href="#").item__info
										.item__title Автобетоносмеситель 58140Z на шасси Камаз 65201-23010-73
									
									.item__status.status-1 Доступно к заказу
									.item__status.status-2 Цену уточняйте у менеджера
										
						
		.swiper-pagination