footer.footer
	.footer-top-cont
		.wrapper
			.footer-top
				.f-menu
					ul.f-menu__list
						each title in ["Каталог продукции", "Спецтехника в наличии", "Сервис и ремонт", "Услуги", "О заводе", "Полезная информация", "Контакты ", "Карта сайта"]
							li.f-menu__item
								a(href="").f-menu__link=title
					ul.f-menu__list
						each title in ["Правила использования материалов", "Согласие на обработку данных"]
							li.f-menu__item
								a(href="").f-menu__link=title
				
				.footer-soc
					.soc-text Мы в социальных сетях:
					.soc
						a(href="").soc__link
							img(src="img/ico-inst.svg", alt="")
						a(href="").soc__link
							img(src="img/ico-vk.svg", alt="")
						a(href="").soc__link
							img(src="img/ico-fb.svg", alt="")
						a(href="").soc__link
							img(src="img/ico-youtube.svg", alt="")

				
	.footer-bot-cont
		.wrapper
			.footer-bot
				.footer-copy
					.copy-text © 2020, Группа компаний UNISTEAM™
					a(href="").copy-link Политика конфиденциальности

					
				a(href="").dev
					.dev-img
						img(src="img/ico-dev.svg ", alt="")


