//- include ../inc/mobile-menu.pug
header.head
	.head-top-cont
		.wrapper
			.head-top
				.head-cities
					.city__label Наши адреса и график работы
					.city 
						select.my-select
							option(value="1") Челябинск
							option(value="2") Москва
							option(value="3") Cанкт-Петербург
				.head-callback
					a(href="#" class="fancybox") Напишите нам
				.head-soc
					.soc__label Свяжитесь с нами:
					.soc
						a(href="").soc__link
							img(src="img/ico-viber.svg", alt="")
						a(href="").soc__link
							img(src="img/ico-skype.svg", alt="")
						a(href="").soc__link
							img(src="img/ico-viber.svg", alt="")
						a(href="").soc__link
							img(src="img/ico-tg.svg", alt="")
				.head-email
					a(href="mailto: info@unisteam.com").mail info@unisteam.com
				.head-phone
					a(href="tel:8 800-555-49-07").phone 8 800-555-49-07
				.head-lang
					select.my-select
						option(value="1") En
						option(value="2") Ru

	.head-bot-cont
		.wrapper
			.head-bot
				.head-logo
					a(href="")
						include ../../img/index-logo.svg
				nav.main-nav
					ul.main-nav__list
						li.main-nav__item
							a(href="").main-nav__link Каталог продукции
						li.main-nav__item
							a(href="").main-nav__link Спецтехника в наличии
						li.main-nav__item.has__submenu
							a(href="").main-nav__link Оплата и доставка
							.main-nav__submenu
								ul.main-nav__submenu-list
									li.main-nav__submenu-item
										a(href="#").main-nav__submenu-link Оплата
									li.main-nav__submenu-item
										a(href="#").main-nav__submenu-link Доставка
									li.main-nav__submenu-item
										a(href="#").main-nav__submenu-link Лизинг
									li.main-nav__submenu-item
										a(href="#").main-nav__submenu-link Trade-in
						li.main-nav__item
							a(href="").main-nav__link Сервис и ремонт
						li.main-nav__item
							a(href="").main-nav__link Услуги
						li.main-nav__item
							a(href="").main-nav__link О заводе
						li.main-nav__item
							a(href="").main-nav__link Полезная информация
						li.main-nav__item
							a(href="").main-nav__link Контакты
				
				.burger
					span
