header.head.head-print
	.head-top-cont
		.wrapper
			.head-top
				.head-logo
					a(href="")
						include ../../img/index-logo.svg
				.head-email
					a(href="mailto: info@unisteam.com").mail info@unisteam.com
				.head-phone
					a(href="tel:8 800-555-49-07").phone 8 800-555-49-07
				.clear-both


