.paginator-cont
	ul.paginator
		li.paginator__arrow
			a.paginator-arrow(href="#")
		li
			a.paginator__link.active(href="#") 1
		- for (let i = 2; i <= 7; i++)
			li
				a.paginator__link(href="#")=i
		li.paginator__arrow
			a.paginator-arrow(href="#")

