.rating
	.rating__list
		input(type="radio" value="" id="90" name="star").rating__radio
		label(for="90").rating__label
			include ../../img/ico-rating.svg
		input(type="radio" value="" id="91" name="star").rating__radio
		label(for="91").rating__label
			include ../../img/ico-rating.svg
		input(type="radio" value="" id="92" name="star").rating__radio
		label(for="92").rating__label
			include ../../img/ico-rating.svg
		input(type="radio" value="" id="93" name="star").rating__radio
		label(for="93").rating__label
			include ../../img/ico-rating.svg
		input(type="radio" value="" id="94" name="star").rating__radio
		label(for="94").rating__label
			include ../../img/ico-rating.svg
	.rating-text 20 оценок