<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Карточка товара - доработки
		include inc/head.pug
		include inc/css.pug
	body.inner.loading
		include inc/header.pug
		.title-block
			.wrapper
				.title-block__crumbs
					ul.bread-crumbs
						li.bread-crumbs__link
							a(href="#" title="Главная")
								span Главная
						li.bread-crumbs__link
							a(href="#" title="Каталог продукции")
								span Каталог продукции
						li.bread-crumbs__link
							a(href="#" title="Каталог автомобилей")
								span Каталог автомобилей
						li.bread-crumbs__link
							a(href="#" title="Дорожно-строительная техника")
								span Дорожно-строительная техника
						li.bread-crumbs__this ППУА 1600/100 серии Unisteam-M1 на базе шасси КАМАЗ 43118
		main#content
			.wrapper
				.card
					.card__media-cont
						.card__media
							.card__media-top
								.swiper-button.swiper-button-prev
								.swiper-button.swiper-button-next
								.swiper-list
									.swiper-wrapper
										.swiper-slide
											img(src="img/photos/card-1.jpg", alt="")
										.swiper-slide
											img(src="img/photos/card-1.jpg", alt="")
										.swiper-slide
											img(src="img/photos/card-1.jpg", alt="")
										.swiper-slide
											img(src="img/photos/card-1.jpg", alt="")
										.swiper-slide
											img(src="img/photos/card-1.jpg", alt="")
										.swiper-slide
											img(src="img/photos/card-1.jpg", alt="")
									.swiper-pagination
							.card__media-bot
								.swiper-button.swiper-button-prev
								.swiper-button.swiper-button-next
								.swiper-list
									.swiper-wrapper
										.swiper-slide
											img(src="img/photos/card-1.jpg", alt="")
										.swiper-slide
											img(src="img/photos/card-1.jpg", alt="")
										.swiper-slide
											img(src="img/photos/card-1.jpg", alt="")
										.swiper-slide
											img(src="img/photos/card-1.jpg", alt="")
										.swiper-slide
											img(src="img/photos/card-1.jpg", alt="")
										.swiper-slide
											img(src="img/photos/card-1.jpg", alt="")

									.swiper-counter 
										.swiper-counter__text еще<br>
											span.counter 12 
											|фото 

							.card__media-video
								a(href="#") Смотреть видеообзор

						.card__info
							.title-block__title
								h1 ППУА 1600/100 серии Unisteam-M1 на базе шасси КАМАЗ 43118
							.card__info-top
								.card__info-info
									.card-price 
										span 4 810 000 руб.
									.card-sticker
										.sticker.sticker-sale Акция
									.card__info-rating
										.rating
											span Оценка 4 из 5
											.rating
												.rating__list
													input(type="radio" value="" id="90" name="star").rating__radio
													label(for="90").rating__label
														include ../img/ico-rating.svg
													input(type="radio" value="" id="91" name="star").rating__radio
													label(for="91").rating__label
														include ../img/ico-rating.svg
													input(type="radio" value="" id="92" name="star").rating__radio
													label(for="92").rating__label
														include ../img/ico-rating.svg
													input(type="radio" value="" id="93" name="star").rating__radio
													label(for="93").rating__label
														include ../img/ico-rating.svg
													input(type="radio" value="" id="94" name="star").rating__radio
													label(for="94").rating__label
														include ../img/ico-rating.svg
										.rating__info Проголосовало 27 человек
									.card__info-status.status-1 Доступно к заказу
								.card__info-btn
									a(href="#").btn.btn--cart Купить
									a(href="#").btn.btn--lizing Купить в лизинг
							.card__info-bottom
								.card__info-count Этот товар сейчас просматривают 17 человек
								.card__info-file
									a(href="#").ico-print Распечатать
									a(href="#").ico-pdf Скачать PDF
									a(href="#").ico-tz Скачать руководство по эксплуатации
									a(href="#").ico-share Поделиться

					.card__tabs.tabs
						.tabs__top
							.tabs__tab(data-id="1") Характеристики
							.tabs__tab(data-id="2") Схема
							.tabs__tab.active(data-id="3") Доработки
							.tabs__tab(data-id="4") Отзывы
							.tabs__tab(data-id="5") Видео
							.tabs__tab(data-id="6") Вопрос-ответ
							.tabs__tab(data-id="7") Руководство по эксплуатации
							.tabs__tab(data-id="8") Доставка
						.tabs__content(data-id="1")
							.tabs__title Характеристики
							.tabs__content-content
								.accordion
									.accordion__item
										.accordion__title Технические характеристики / комплектация ППУА 1600/100 серии Unisteam-M1 на базе шасси КАМАЗ 43118
										.accordion__body
											.table-new
												.tbody
													.tr
														.td
															.tr
																.td Нагреваемая среда
																.td вода
														.td
															.tr
																.td Давление топлива, Мпа, не более
																.td 1,47

													.tr
														.td
															.tr
																.td Насос (водяной?)
																.td HIKARIMAI EFG2821 / 1,1 ПТ25Д1М2 / 2,3 ПТ25Д1М2 / MAZONNI
														.td
															.tr
																.td Время, необходимое для получения пара с момента запуска установки, мин, не более
																.td 10

													.tr
														.td
															.tr
																.td Топливный насос
																.td НШ-10
														.td
															.tr
																.td Привод механизмов спецоборудования
																.td от силовой установки шасси

													.tr
														.td
															.tr
																.td Вентилятор
																.td ВД-4
														.td
															.tr
																.td Уровень звука в кабине водителя во время работы установки, Дба, не более
																.td 80

													.tr
														.td
															.tr
																.td Привод воздушной заслонки
																.td электропривод
														.td
															.tr
																.td Форсунка розжига 1,0 гал/ч, шт
																.td 1

									.accordion__item
										.accordion__title Характеристики котла
										.accordion__body
											.table-new
												.tbody
													.tr
														.td
															.tr
																.td Марка котла
																.td НШ-10
														.td
															.tr
																.td Производительность котла, кг/ч
																.td 1000 100 / 1600 100 / 2000 100 / 2500 160

													.tr
														.td
															.tr
																.td Расположение котла
																.td заднее

														.td
															.tr
																.td 
																.td 
											table
												thead
													tr
														td Производительность с учетом работы установки в соответствии с выбранным режимом
														td Режим 1
														td Режим 2
												tbody
													tr
														td Производительность котла, кг/ч
														td 1600 +/- 10%
														td 1600 +/- 10%
													tr
														td Давление пара, Мпа (кгс/см²), не более
														td 0,59
														td 9,81
													tr
														td Температура пара, ⁰С, не более
														td 165
														td 310
													tr
														td Расход топлива паровым котлом кг/ч, не более
														td 35
														td 110

									.accordion__item
										.accordion__title Сравнительные характеристики насосов
										.accordion__body
											.compare-block
												.compare-block__parameters
													.compare-block__parameter Производительность, м³/ч
													.compare-block__parameter Давление, Мпа
													.compare-block__parameter Температура питательной воды, max, ⁰С
													.compare-block__parameter Потребляемая мощность, кВт
													.compare-block__parameter Обороты вала насоса, max, об/мин
													.compare-block__parameter Оъем заливаемого масла, л.
													.compare-block__parameter Размер<br> (длина*ширина*высота), см
													.compare-block__parameter Вес, кг
												.compare-block__list
													- for (var x = 0; x < 4; x++)
														.compare-block__item
															.compare-card
																.compare-card__img
																	a.fancybox(href="img/photos/compare.jpg")
																		img(src="img/photos/compare.jpg" loading="lazy")
																.compare-card__name 1,1 ПТ25Д1М2
																.compare-card__parameters
																	.compare-card__parameter 
																		.compare-card__parameter-label Производительность, м³/ч
																		|2,2
																	.compare-card__parameter 
																		.compare-card__parameter-label Давление, Мпа
																		|11
																	.compare-card__parameter 
																		.compare-card__parameter-label Температура питательной воды, max, ⁰С
																		|до 100
																	.compare-card__parameter 
																		.compare-card__parameter-label Потребляемая мощность, кВт
																		|не более 10
																	.compare-card__parameter 
																		.compare-card__parameter-label Обороты вала насоса, max, об/мин
																		|730
																	.compare-card__parameter 
																		.compare-card__parameter-label Оъем заливаемого масла, л.
																		|2
																	.compare-card__parameter 
																		.compare-card__parameter-label Размер (длина*ширина*высота), см
																		|617х392х320
																	.compare-card__parameter 
																		.compare-card__parameter-label Вес, кг
																		|87

									.accordion__item
										.accordion__title Пакет предоставляемой документации
										.accordion__body
											p
												|Паспорт на котел паровой
											p
												|Сертификат соответствия техническому регламенту Таможенного союза ТР ТС 032/2013 «О безопасности оборудования, работающего под избыточным давлением» 
											p
												|Сертификат соответствия техническому регламенту Таможенного союза ТР ТС 010/2011 «О безопасности машин и оборудования»,  ТР ТС 004/2011 "О безопасности низковольтного оборудования", ТР ТС 020/2011 "Электромагнитная совместимость технических средств" утвержденному Решением Комиссии Таможенного союза от 01.03.2016г. №0365925
											p
												|Руководство по эксплуатации на парогенераторную установку											
											p
												|Паспорт передвижной парогенераторной установки
											p
												|Прочностной расчет котловой трубы
											p
												|Прочностной расчет паровика
											p
												|Расчет пропускной способности клапанов предохранительных

						.tabs__content(data-id="2")
							.tabs__title Схема
							.tabs__content-content
						.tabs__content.active(data-id="3")
							.tabs__title Доработки
							.tabs__content-content
								.accordion
									.accordion__item
										.accordion__title Установка дополнительного оборудования
										.accordion__body
											.rework__list
												each rework, i in ['Гидроборты', 'Коробки отбора мощности (КОМ)', 'Лебедки от КОМ', 'Станки и другое необходимое оборудование', 'Дополнительные двери и окна', 'Установка дополнительного топливного бака', 'Кондиционер кабины шасси', 'Освещение и сигнализация', 'Информационно-навигационное оборудование', 'Видеорегистраторы, рации, магнитолы', 'Оборудование кабины шасси спальным местом', 'Третий режим работы ППУА с функцией мойки высокого давления']
													.rework__item=rework

									.accordion__item
										.accordion__title Подготовка к работе на севере
										.accordion__body
											.rework__list
												each rework, i in ['Утепление кабины и фургона', 'Установка автономного отопителя предпускового подогрева в кабину и фургон', 'Утепление топливопроводов', 'Установка обогрева АКБ', 'Электроподогрев двигателя от внешнего источника', 'Утеплитель капотного отсека', 'Установка подогреваемого топливозаборника', 'Установка подогреваемого топливозаборника', 'Подогрев аккумуляторного отсека от системы охлаждения двигателя', 'Подогрев ФГОТ и ФТОТ', 'Зеркала с электроподогревом']
													.rework__item=rework

									.accordion__item
										.accordion__title Оформление фургона (кунга)
										.accordion__body
											.rework__list
												each rework, i in ['Изменение цветов полимерного покрытия', 'Брендирование', 'Изменение наружной / внутренней обшивки, напольного покрытия', 'Окрас фургона (кунга) и кабины в любой цвет по таблице цветов RA']
													.rework__item=rework

								a.btn.btn-2(href="#") Полный список доработок

						.tabs__content(data-id="4")
							.tabs__title Отзывы
							.tabs__content-content
						.tabs__content(data-id="5")
							.tabs__title Видео
							.tabs__content-content
						.tabs__content(data-id="6")
							.tabs__title Вопрос-ответ
							.tabs__content-content
						.tabs__content(data-id="7")
							.tabs__title Руководство по эксплуатации
							.tabs__content-content
						.tabs__content(data-id="8")
							.tabs__title Доставка
							.tabs__content-content

					include inc/default-slider.pug

					include inc/default-slider-2.pug



		include inc/footer.pug
		include inc/scripts.pug
