<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Unisteam
		link(rel="shortcut icon" href="favicon.ico")
		link(rel="stylesheet" href="css/main.css")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1")
		style(type="text/css")
			include inc/index.css
		script(src="js/vendors.js")
		script(src="js/index.js")
	body
		div
			.links
				.logo
					include ../img/index-logo.svg
					br
					br
					br
				.links_cont
					ul
						li
							a(target="_blank" href="main.html") Главная
						li
							a(target="_blank" href="main-2.html") Разводящая
						li
							a(target="_blank" href="catalog-1.html") Каталог - 1
						li
							a(target="_blank" href="catalog-2.html") Каталог - 2 (старый)
						li
							a(target="_blank" href="catalog-3.html") Каталог - 3 (список с фильтрами)
						li
							a(target="_blank" href="catalog-4.html") Каталог - 4 (плитка с фильтрами)
						li
							a(target="_blank" href="catalog-5.html") Каталог - 5 (список без фильтров)
						li
							a(target="_blank" href="catalog-6.html") Каталог - 6 (плитка без фильтров)
						li
							a(target="_blank" href="card.html") Карточка товара (новая)
						li
							a(target="_blank" href="card-old.html") Старая карточка товара
						li
							a(target="_blank" href="card-2.html") Карточка товара (отзывы)
						li
							a(target="_blank" href="card-rework.html") Карточка товара (доработки)
						li
							a(target="_blank" href="services.html") Ремонт и сервис
						li
							a(target="_blank" href="sp.html") Типовая страница
						li
							a(target="_blank" href="generator.html") Промышленные парогенераторы
						li
							a(target="_blank" href="forms.html") Формы
						li
							a(target="_blank" href="card-print.html") Версия для печати (карточка товара)
