<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		#app
			include inc/header.pug
			main#content
				.main-slider
					.swiper-list
						.swiper-wrapper
							.swiper-slide
								.main-slider__info-cont
									.wrapper
										.main-slider__info
											.main-slider__title Серия ППУА на газу. Использование пропана или метана экономит на топливе до 263 тыс. в месяц
											.main-slider__btn 
												a(href="#").btn Смотреть в каталоге
								.main-slider__img
									a(href="#")
										img(src="img/slider-1.jpg", alt="")
				.search-cont
					.wrapper
						form(action="")
							.search
								input(type="search" placeholder="Найти спецтехнику")
								input(type="submit" value="Найти")
				.catalog-main__cont
					.wrapper
						.catalog-main#main-cat
							.catalog-main__title Каталог автомобилей
							.catalog-main__wrap(v-cloak)
								include inc/cat-script.html
								.catalog-main__col(v-for="btn in btn_list")
									input.catalog-main__col-radio(:id="btn.id" v-model="view" name="view" v-bind:value="btn.id" type="radio")
									label.catalog-main-top-btn.btn.btn--reverse(:for="btn.id") {{ btn.title }}
							.catalog-main__wrap
								.catalog-main__col(v-for="cat in catalog_chunked")
									.catalog-main__list(v-for="item in cat" v-if="animate")
										h2.catalog-main__list-title(:style="'background-image: url('+item.imgSrc+')'") 
											a.catalog-main__list-title-link(:href="item.link") {{ item.title }}
										ul.catalog-main__list-list(v-if="item.list.length")
											li.catalog-main__list-el(v-for="el in item.list")
												a.catalog-main__list-link(:href="el.link") {{ el.title }}







			include inc/footer.pug
		include inc/scripts.pug
