<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		#app
			include inc/header.pug
			main#content
				.main-slider
					.swiper-list
						.swiper-wrapper
							.swiper-slide
								.main-slider__info-cont
									.wrapper
										.main-slider__info
											.main-slider__title Серия ППУА на газу. Использование пропана или метана экономит на топливе до 263 тыс. в месяц
											.main-slider__btn 
												a(href="#").btn Смотреть в каталоге
								.main-slider__img
									a(href="#")
										img(src="img/slider-1.jpg", alt="")
				.search-cont
					form(action="")
						.search
							input(type="search" placeholder="Найти спецтехнику")
							input(type="submit" value="Найти")





			include inc/footer.pug
		include inc/scripts.pug
