<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Промышленные парогенераторы
		include inc/head.pug
		include inc/css.pug
	body.index.loading
		include inc/header-index.pug
		main#content(style="background-image: url('img/photos/index-bg.jpg')")
			.wrapper
				.index__link
					.index__link-list
						a(href="#").index__link-item.active Промышленные парогенераторы юнистим™
						a(href="#").index__link-item Спецтехника юнистим™
						a(href="#").index__link-item Сервисный центр юнистим™
						a(href="#").index__link-item Запчасти юнистим™
			.cookie-cont
				.wrapper
					.cookie
						.cookie-text Мы применяем файлы cookie для персонализации и повышения удобства пользования нашим сайтом. Чтобы получить подробную информацию или настроить личные предпочтения в инструменте Cookie Consent Tool, обратитесь к нашей Политике конфиденциальности. Пользуясь нашим сайтом, вы соглашаетесь с применением нами файлов cookie.
						.cookie-btn
							.btn Принять	

			
			




		include inc/footer.pug
		include inc/scripts.pug
