<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="utf-8")
		title Главная
		include inc/head.pug
		include inc/css.pug
	body.main.loading
		include inc/header.pug
		main#content
			.work__inner
				.work__inner-left.wow.fadeInLeft(data-wow-duration="2s")
					.work__item.active Добавьте соцсети
					.work__item Подготовьте контент
					.work__item Подготовьте контент 3

	
				.work__inner-right.wow.fadeInRight(data-wow-duration="2s")
					.work__inner-right__item.active 1
					.work__inner-right__item 2
					.work__inner-right__item 3

	











		include inc/footer.pug
		include inc/scripts.pug
