mixin titleBLock(pagesArray)
	.title-block
		.wrapper
			.title-block__crumbs
				ul.bread-crumbs
					- for (let i = 0; i < pagesArray.length - 1; i++)
						li.bread-crumbs__link(itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb")
							a(href="#" title=pagesArray[i] itemprop="url")
								span(itemprop="title")=pagesArray[i]
					li.bread-crumbs__this=pagesArray[pagesArray.length - 1]
				a(href="").bread-crumbs__back Назад
			.title-block__title
				h1=pagesArray[pagesArray.length - 1]

				<!-- a(href="").lc-exit Выход -->
